.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.highlight {
  color: #61dafb;
  font-size: smaller;
}

img{
  margin-top: 50px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App h1 {
  font-size: 2em;;
}

.hint {
  display: none;
}

/* #impress div.step {
  width: 500px;
} */

code {
  font-size: x-large;
}

ul li {
  list-style: none;
  margin: 0px;
  font-size: x-large;
}

.step {
  width: 700px;
  height: 500px;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.warn{
  position: absolute;
  bottom: 0px;
  left: 20px;
  font-size: xx-small;
  display: none;
}

@media only screen and (min-width: 976px) {
  p.warn {
    display: block;
  }
}